root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.cs]
indent_style = space
indent_size = 2
csharp_new_line_before_open_brace = all
dotnet_style_namespace_match_folder = false
dotnet_diagnostic.CA1050.severity = none
